<header>
	<div class="topbar">
		<h2 class="container_title">Create a Meeting</h2>
	</div>
</header>
<main>

	<h3>Title</h3>
	<input type="text" name="title" placeholder="Enter meeting title">

	<h3>Agenda</h3>
	<div class="agenda_area">
		<div class="markdown_input">
			<span class="label">Markdown Editor</span>
			<textarea name="agenda" placeholder="Enter markdown here" [(ngModel)]="markdownText"></textarea>
		</div>
		<div class="markdown_preview_area">
			<span class="label">Text Preview</span>
			<div [innerHTML]="markdownText | markdown"></div>
		</div>
	</div>


	<h3>Availability</h3>
	<span class="label">Highlight the areas where you would like the meeting time to fall within.</span>
	<div class="full_calendar_area"></div>

	<h3>Attendees</h3>
	<div class="attendee_area">
		<div class="attendee_input">
			<span class="label">Add attendees to this meeting.</span>
			<input type="text" name="title" placeholder="Enter attendee's names">
		</div>
		<div class="attendee_added">
			<span class="label">Click to remove</span>
			<div class="attendees">
				<div class="attendee_block">
					<span class="attendee_initials">MB</span>
					<a href="#" class="remove">&#10799;</a>
				</div>
				<div class="attendee_block">
					<span class="attendee_initials">AH</span>
					<a href="#" class="remove">&#10799;</a>

				</div>
				<div class="attendee_block">
					<span class="attendee_initials">KC</span>
					<a href="#" class="remove">&#10799;</a>
				</div>
			</div>
		</div>
	</div>

	<a href="#" class="button primary maxed">Create Meeting</a>
</main>