<header>
	<div class="topbar">
		<h2 class="container_title">Create a Meeting</h2>
	</div>
</header>
<main>

	<h3>Title</h3>
	<span class="meeting_title">{{ meeting.name }}</span>
	

	<h3>Agenda</h3>
	<div class="agenda_area">
		<div class="markdown_preview_area">
			<div class="markdown_preview">
				{{ meeting.description }}
			</div>
		</div>
	</div>

	<h3>Availability</h3>
	<span class="label">Highlight the areas where you would like the meeting time to fall within.</span>
	<div class="full_calendar_area"></div>

	<h3>Attendees</h3>
	<div class="attendee_area">
		<div class="attendee_added">
			<div class="attendees">
				<div class="attendee_block">
					<span class="attendee_initials">MB</span>
					<a href="#" class="remove">&#10799;</a>
				</div>
				<div class="attendee_block">
					<span class="attendee_initials">AH</span>
					<a href="#" class="remove">&#10799;</a>

				</div>
				<div class="attendee_block">
					<span class="attendee_initials">KC</span>
					<a href="#" class="remove">&#10799;</a>
				</div>
			</div>
		</div>
	</div>

	<a routerLink="/dashboard" class="button primary maxed">Create Meeting</a>
</main>