<div *ngIf="meeting">
<header>
	<div class="topbar">
		<h2 class="container_title">{{ meeting.name }}</h2>
	</div>
</header>
<main>

	<h3>Description</h3>
	<span class="label">{{ meeting.description }}</span>
	

	<h3>Agenda</h3>
	<div class="agenda_area">
		<div class="markdown_preview_area">
			<div class="markdown_preview">
				{{ meeting.agenda }}
			</div>
		</div>
	</div>

	<div id="time" *ngIf="meeting.time">
		<h3>Time</h3>
		<span class="label">{{ meeting.time | formatTime }}</span>
	</div>

	<div id="time" *ngIf="!meeting.time">
		<h3>Availability</h3>
		<span class="label">Highlight the areas where you would like the meeting time to fall within.</span>
		<div class="full_calendar_area"></div>
	</div>

	<h3>Attendees</h3>
	<div class="attendee_area">
		<div class="attendee_added">
			<div class="attendees">
				<div class="attendee_block">
					<span class="attendee_initials">MB</span>
					<a href="#" class="remove">&#10799;</a>
				</div>
				<div class="attendee_block">
					<span class="attendee_initials">AH</span>
					<a href="#" class="remove">&#10799;</a>

				</div>
				<div class="attendee_block">
					<span class="attendee_initials">KC</span>
					<a href="#" class="remove">&#10799;</a>
				</div>
			</div>
		</div>
	</div>

	<a (click)="goBack()" class="button primary maxed">Done</a>
</main>
</div>