<section class="container all_meetings">
	<header>
		<div class="topbar">
			<h2 class="container_title">All Meetings</h2>
			<a href="#" class="button primary">Create Meeting</a>
		</div>
		<div class="content_filters">
			<a href="#" class="active">Upcoming</a>
			<a href="#">Past</a>
		</div>
	</header>
	<main>
		<a href="#" class="meeting_card_container" *ngFor="let meeting of meetings">
			<div class="meeting_card">
				<h3 class="meeting_title">{{ meeting.name }}</h3>
				<p class="meeting_datetime">{{ meeting.time }}</p>
				<p class="meeting_location">{{ meeting.location }}</p>
				<div class="attendees">
					<div class="attendee_block">
						<span class="attendee_initials">MB</span>
					</div>
					<div class="attendee_block">
						<span class="attendee_initials">AH</span>
					</div>
					<div class="attendee_block">
						<span class="attendee_initials">KC</span>
					</div>
				</div>
			</div>
		</a>
	</main>
</section>
