<section class="large_card_area invitations">
	<header>
		<div class="topbar">
			<h2 class="container_title">Invitations ({{ invitations.length }})</h2>
		</div>
	</header>
	<main>
		<a href="#" class="meeting_card_container" *ngFor="let invitation of invitations">
			<div class="meeting_card">
				<h3 class="meeting_title">{{ invitation.name }}</h3>
				<p class="meeting_datetime">Time TBC</p>
				<p class="meeting_location">{{ invitation.location }}</p>
				<div class="attendees">
					<div class="attendee_block">
						<span class="attendee_initials">MB</span>
					</div>
					<div class="attendee_block">
						<span class="attendee_initials">AH</span>
					</div>
					<div class="attendee_block">
						<span class="attendee_initials">KC</span>
					</div>
				</div>
			</div>
		</a>
	</main>
</section>