//Global scope override
#root .full_calendar_area {
	/*.fc-toolbar.fc-header-toolbar {
		display: none;
	}*/
	thead th {
		vertical-align: middle;
		height: 38px;
		font-weight: 600;
	}
	tbody td {
		font-size: 14px;
	}
	td.fc-today {
		background-color: #e3f1fc;
	}
	.fc-ltr .fc-time-grid .fc-event-container {
		margin: 0 1px 0 1px;
	}
	.fc-time-grid-event .fc-time {
		box-sizing: border-box;
		margin-top: 4px;
		width: 100%;
		padding: 0;
		text-align: center;
	}
	.fc-time-grid-event .fc-title {
		padding: 2px 0 0 0;
		text-align: center;
	}
	.fc-event {
		background-color: $vs-blue;
		border-color: #75c2d8;
		border-radius: 0;
		transition: all 0.1s ease;
		cursor: pointer;
	}
	.fc-event.selected {
		background-color: #0DAD76;
		border-color: #6FE4C1;
	}
}