@import "normalize";

$background-color:#E8E8E8;

html,body {
	background-color: $background-color;
	margin: 0;
}

html {
	font-family: Segoe UI, sans-serif;
	padding: 0;
}

body {
	padding:20px;
	width: 100vw;
	height: 100vh;
	color: #4c4c4c;
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
}

a, a:hover {
	color: #4c4c4c;
	text-decoration: none;
}

.container  {
	margin-right: 20px;
	padding:20px;
	background-color: white;
	display: flex;
	flex-flow: column nowrap;
	width: 600px;
}

header {
	margin-bottom: 15px;
}

.invitations header {
	margin-bottom: 0;
}

.all_meetings .past {
	display: none;
}

.all_meetings.past .past {
	display: block;
}

.all_meetings.past .upcoming {
	display: none;
}

.invitations {

}

.topbar {
	display: flex;
	flex-flow: row nowrap;
	justify-content:space-between;
	align-items: center;
}

.container_title {
	font-size: 1.4em;
	font-weight: 600;
	margin: 10px 0;
}

.button {
	font-size: 1em;
	box-sizing: border-box;
	padding: 10px 15px;
	color: white;
	border: 1px solid #CCCCCC;
}

.button:hover {
	color:white;
}

.primary {
	background-color: #137CC9;
}

.primary:hover {
	background-color: #0875AC;
}

.content_filters {
	display: flex;
	flex-flow: row nowrap;
}

.content_filters a {
	padding: 3px 10px;
	border-left: 2px solid #ccc;
	color: #4c4c4c;
	font-weight: 400;
}

.content_filters a:first-child {
	border-left:none;
	padding: 3px 10px 3px 0;
}

.all_meetings:not(.past) .upcoming_button,
.all_meetings.past .past_button {
	color: #1175BC;
	font-weight: 600;
}

.meeting_card {
	display: flex;
	flex-flow: column nowrap;
	color:white;
	box-sizing: border-box;
	padding: 20px;
	background-color: #9c9c9c;
}

.upcoming .meeting_card {
	background-color: #199DCA;
}

.upcoming .meeting_card:hover {
	background-color: #168EB8;
}

.past .meeting_card {
	background-color: #EB9F61;
}

.past .meeting_card:hover {
	background-color: #E0894E;
}

.invitations .meeting_card {
	background-color: #A0447A;
}

.invitations .meeting_card:hover {
	background-color: #8F417F;
}



.meeting_title {
	margin: 0 0 5px;
}

.meeting_title {
	font-weight: 400;
	font-size: 1.3em;
}

.meeting_datetime {
	font-size: 1em;
	margin:  0 0 5px;
}

.meeting_location {
	font-size: 1em;
	margin:  0 0 15px;
}

.attendees {
	display: flex;
	flex-flow: row wrap;
}

.attendee_block {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	padding: 6px;
	border: 1px solid white;
	background-color: rgba(145, 65, 125, 0.9);
	margin-right: 10px;
}

.attendee_initials {

}

.attendee_block {

}

.attendee_initials {

}

.attendee_block {

}

.attendee_initials {

}
