@import "normalize";

$background:#E8E8E8;

$lighter-text: #6c6c6c;
$default-text: #4c4c4c;
$darker-text: #2c2c2c;

$upcoming-event:#199DCA;
$upcoming-event-hover:#168EB8;
$past-event:#EB9F61;
$past-event-hover: #E0894E;
$event-invitation:#A0447A;
$event-invitation-hover: #8F417F;

$primary-button:#106EBE;
$primary-button-hover:#0875AC;
$muted-button: $lighter-text;
$muted-button-hover: $default-text;

$border: #DADADA;

html, body {
	display: block;
	width:100vw;
	height:100vh;
	margin:0;
	padding:0;
}

#root {
	font-family: Segoe UI, sans-serif;
	padding: 0;
	background-color: $background;
	box-sizing: border-box;
	color: $default-text;
	padding:20px;
	margin: 0;
	width: 100%;
    height: 100%;
	overflow: scroll;
}

a, a:hover {
	color: $default-text;
	text-decoration: none;
}

h3 {
	font-size: 1em;
	font-weight: 600;
	color: $lighter-text;
}

[role="button"] {
    cursor:pointer;
}

.main-container {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
}

.loading-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-flow: column nowrap;
	height: 100%;
	font-size: 20px;
}


// LARGE CARD LEVEL

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.large_card_area {
	margin-right: 20px;
	padding:20px;
	box-sizing: border-box;
	background-color: white;
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	max-width: 500px;
	animation: fadeInUp 0.5s ease;
	animation-fill-mode: forwards;
}

.large_card_area:last-child {
	margin-right: 0;
}

.large_card_area main {
	display: flex;
	flex-flow: column nowrap;
}

.large_card_area.create_meeting {
	max-width: 800px;
	animation-duration: 0.3s;
}

.large_card_area.single_meeting {
	max-width: 700px;
	animation-duration: 0.3s;
}

@media (max-width: 700px) {
	body {
		flex-direction: column;
		height: 100%;
	}
	.large_card_area {
		max-width: 100%;
		margin-bottom: 20px;
		margin-right: 0;
		max-height: none;
	}

	.large_card_area main {
		overflow: auto;
	}
}

// INSIDE CARDS

header {
	margin-bottom: 15px;
}

.invitations header {
	margin-bottom: 0;
}

.all_meetings .past {
	display: none;
}

.all_meetings.past .past {
	display: block;
}

.all_meetings.past .upcoming {
	display: none;
}

.topbar {
	display: flex;
	flex-flow: row nowrap;
	justify-content:space-between;
	align-items: center;
}

.container_title {
	font-size: 1.4em;
	font-weight: 600;
	margin: 10px 0;
	cursor: default;
}

.single_meeting footer,
.create_meeting footer{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.button {
	font-size: 1em;
	padding: 10px 15px;
	box-sizing: border-box;
	color: white;
	border: none;
	outline: none;
}

.button:hover {
	color:white;
}

.button.maxed {
	min-width: 150px;
	text-align: center;
}

.primary {
	background-color: $primary-button;
}

.primary:hover {
	background-color: $primary-button-hover;
}

.cancel {
	background-color: $muted-button;
}

.cancel:hover {
	background-color: $muted-button-hover;
}

.cancel + .primary {
	align-self: flex-end;
}

.content_filters {
	display: flex;
	flex-flow: row nowrap;
}

.content_filters a {
    font-weight: 600;
	padding: 3px 10px;
    width: 90px;
	box-sizing: border-box;
	border-left: 2px solid #ccc;
	color: $default-text;
}

.content_filters a:first-child {
	border-left:none;
	padding: 3px 10px 3px 0;
	box-sizing: border-box;
}

.all_meetings:not(.past) .upcoming_button,
.all_meetings.past .past_button {
	color: #1175BC;
}

.meeting_card_container {
	animation: fadeInUp 0.3s ease;
	animation-fill-mode: forwards;
}

.meeting_card_container .meeting_card{
	margin-bottom: 20px;
}

.meeting_card_container:last-child .meeting_card{
	margin-bottom: 0;
}

.meeting_card {
	display: flex;
	flex-flow: column nowrap;
	color:white;
	box-sizing: border-box;
	padding: 20px;
	box-sizing: border-box;
	background-color: #9c9c9c;
}

.meeting_card {
	background-color: $upcoming-event;
}

.meeting_card:hover {
	background-color: $upcoming-event-hover;
}

.past .meeting_card {
	background-color: $past-event;
}

.past .meeting_card:hover {
	background-color: $past-event-hover;
}

.invitations .meeting_card {
	background-color: $event-invitation;
}

.invitations .meeting_card:hover {
	background-color: $event-invitation-hover;
}

.empty_state_card {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 20px;
	font-size: 20px;
	height: 200px;
	color: $default-text;
	background-color: #dcdcdc;
}


.all_meetings .meeting_title,
.invitations .meeting_title {
	color: white;
	margin: 0 0 5px;
	font-weight: 400;
	font-size: 1.3em;
}

.meeting_datetime {
	font-size: 1em;
	margin:  0 0 5px;
}

.meeting_location {
	font-size: 1em;
	margin:  0 0 15px;
}

.attendees {
	display: flex;
	flex-flow: row wrap;
}

.attendee_block {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	box-sizing: border-box;
	border: 1px solid white;
	background-color: rgba(145, 65, 125, 0.9);
	margin: 0 10px 10px 0;
	user-select:none;
}

.attendee_details {
	font-size: 15px;
}

.remove {
	opacity: 0;
	position: absolute;
	display: table-cell;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color: rgba(60,60,60,0.9);
	text-align: center;
	vertical-align: middle;
	cursor:pointer;
	color: white;
	transition: all 0.3s ease;
	font-size: 2em;
	line-height: 0.75;
}

.attendee_block .remove:hover {
	color: white;
	opacity:1;
}


//CREATE MEETING

.label {
	color: #8c8c8c;
	font-size: 0.9em;
	margin-bottom: 10px;
}

.create_meeting h3,
.single_meeting h3 {
	margin: 0 0 5px;
}

.create_meeting section,
.single_meeting section {
	display: flex;
	flex-direction: column;
	margin: 0 0 15px 0;
}

.error_list {
	padding: 10px;
	margin:0;
	list-style: none;
	background-color: #FF8080;
	color: white;
}

.error_list li {
	margin-bottom: 4px;
}

.large_card_area input,
.large_card_area textarea {
	display: block;
	padding:10px;
	box-sizing: border-box;
	outline:0;
	border: 1px solid $border;
	color: $default-text;
	margin-bottom: 0;
}

.large_card_area textarea {
	resize: vertical;
}

.agenda_area,
.attendee_area {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.markdown_input,
.markdown_preview_area {
	width: calc(50% - 5px);
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
}

.markdown_input textarea {
	min-height: 120px;
	font-size: 15px;
}

.markdown_preview {
	padding: 10px;
	box-sizing: border-box;
	height: 100%;
	border: 1px solid $border;
	color: $default-text;
	background-color: #fafafa;
}

.attendee_input,
.attendee_added {
	width: 47.5%;
	display: flex;
	flex-flow: column nowrap;
}

.attendee_added {
	color: white;
}

// MARKDOWN SYNTAX

.markdown_preview {
	h1 {
		margin: 0 0 15px 0;
		font-size: 1.6em;
	}
	h2 {
		margin: 0 0 12px 0;
		font-size: 1.4em;
	}
	h3 {
		margin: 0 0 10px 0;
		font-size: 1.2em;
	}
	h4 {
		margin: 0 0 10px 0;
		font-size: 1.1em;
	}
	ul{
		margin: 0 0 10px 0;
		padding: 0 0 0 30px;
	}
	p {
		margin: 0 0 10px 0;
	}
}

//SINGLE MEETING

.single_meeting .meeting_title {
	font-weight: 600;
	margin: 0 0 15px;
	font-size: 1.3em;
	color: $default-text;
}

.single_meeting .markdown_preview_area,
.single_meeting .attendee_added {
	width: 100%;
}

// Loader image

.loader-box {
	width: 40px;
	height: 40px;
	margin: 20px 0;
}
.loader-cube {
	width: 50%;
	height: 50%;
	background-color: #333;
	float: left;
	animation: cubeScale 1.2s infinite ease-in-out;
	animation-delay: 0.25s;
}
.loader-cube:nth-child(2) {
	animation-delay: 0.4s;
}
.loader-cube:nth-child(3) {
	animation-delay: 0.1s;
}
.loader-cube:nth-child(4) {
	animation-delay: 0.25s;
}

@keyframes cubeScale {
	0%, 70%, 100% { transform: scale3D(1, 1, 1);}
	35% { transform: scale3D(0, 0, 1);}
}

@import "full-calendar-overrides";